<header>

  <nav class="navbar navbar-expand-md navbar-light bg-faded sticky-top">


    <%= link_to "Private Event Bride", root_path, class: "navbar-brand"  %>

    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse"  id="navbarSupportedContent">
      <ul class= "nav navbar-nav ml-auto justify-content-end">

        <% if user_signed_in? %>


            <li class="nav-item mr-3 mt-2">
              <i class="fa fa-pencil fa-lg"> </i>
              <%= link_to "Create New Event", new_event_path %>
            </li>

            <li class="nav-item dropdown">

              <a class="nav-link dropdown-toggle" data-toggle="dropdown"
                 href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-user"> Welcome <%= current_user.full_name%> </i>

              </a>


              <div class="dropdown-menu">



                <div class="dropdown-item">
                  <i class="fa fa-users fa-lg"> </i>
                  <%= link_to "Community", community_path %>
                </div>

                <div class="dropdown-divider"></div>
                <div class="dropdown-item">
                  <i class="fa fa-sign-out fa-lg"> </i>
                  <%= link_to "Sign Out", destroy_user_session_path, method: :delete, data: {confrim: "Are You Sure?"}%>
                </div>
              </div>

        <% else %>
            <li class="nav-item">
              <i class="fa fa-sign-in fa-lg"> </i>
              <%= link_to "Sign in", sign_in_path%>	&nbsp;
            </li>


            <li class="nav-item">
              <i class="fa fa-user fa-lg"> </i>
              <%= link_to "Sign up", sign_up_path%>
            </li>
        <% end %>








      </ul>
    </div>

  </nav>


</header>
