


<div class="jumbotron">
  <h1 class="display-3">F L I C K R  I T!</h1>
  <p class="lead">Search for a flicker user's  photos by using their ID.</p>
</div>
<div class="card mx-auto" id="search-card">
  <div class="card-body">
    <%= form_tag(root_path, method: 'get') do %>
        <div class="row my-4">
          <div class="col-md-1"></div>
            <div class="col-md-8">
              <%= search_field_tag :userID, params[:userID], { placeholder: "Insert your Flickr user id, such as: 69498982@40N03 or sandypogue", class: 'form-control'}%>
            </div>
            <div class="col-md-2">
                <%= submit_tag 'Search', { class: 'btn btn-outline-primary btn-block my-2 my-sm-0' } %>
            </div>
        </div>
    <% end %>
  </div>
</div>


<div class="row">
  <% @photos.each do |photo| %>
      <div class="card col-md-2" id="photo-card">
        <%= image_tag(FlickRaw.url_q(photo), class:"card-img-top" ) %>
        <div class="card-block">
          <%= link_to "see on flickr", FlickRaw.url_photopage(photo), target:"_blank"  %>
        </div>
      </div>
  <% end %>
</div>










