

<%= form_tag(flights_path, method: :get) do %>

    <div class="row">

      <div class="col-md-5 mx-auto">
        <div class="form-group">
          <%= label_tag(:origin_airport_id, 'Departure Airport:') %>
          <%= select_tag(:origin_airport_id, options_for_select(@airports), class: 'form-control') %>
        </div>
      </div>

      <div class="col-md-5 mx-auto">
        <div class="form-group">
          <%= label_tag(:destination_airport_id, "Destination Airport") %>
          <%= select_tag(:destination_airport_id, options_for_select(@airports), class:'form-control') %>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-md-5 mx-auto">
        <div class="form-group">
          <%= label_tag(:departure_date, 'Departure Date:') %>
          <%= select_tag(:departure_date, options_for_select(@dates), class:'form-control') %>
        </div>
      </div>

    <div class="col-md-5 mx-auto">
      <div class="form-group">
        <%= label_tag(:passengers, 'Number Of Passengers:') %>
        <%= select_tag(:passengers, options_for_select(1..10), class:'form-control') %>
      </div>
    </div>

    </div>

    <div class="row">
      <div class="col-md-10 mx-auto my-2">
        <%= submit_tag('Search', class:'btn btn-primary btn-block') %>
      </div>
    </div>
<% end %>

