
<%= form_for(:flight, url:flights_path, html: {method: :get}) do |f| %>

    <div class="row">

      <div class="col-md-6">
        <div class="form-group">
          <%=f.label :origin_airport_id, 'Departure Airport:' %>
          <%=f.select :origin_airport_id, options_for_select(@airports), {}, class:'form-control' %>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :destination_airport_id, 'Destination Airport:'%>
          <%= f.select :destination_airport_id,options_for_select(@airports), {}, class:'form-control' %>
        </div>
      </div>

    </div>


    <div class="row">

      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :departure_date, 'Departure Date:'%>
          <%= f.select :departure_date,options_for_select(@dates), {}, class:'form-control' %>
        </div>
      </div>

      <div class="col-md-6">
        <%= f.label :passengers, 'Number of passengers:' %>
        <%= f.select :passengers, options_for_select(1..10),{}, class:'form-control' %>
      </div>

    </div>

    <div class="row">
      <div class="col-md-10 mx-auto">
        <%=f.submit 'Search', class:'btn btn-primary btn-block'%>
      </div>
    </div>

<% end %>





