<div class="row my-3">

  <div class="col-md-1"></div>
  <div class="col-md-10 mx-auto">
    <%= render 'layouts/flash' %>
    <legend><%= @kitten.name %></legend>

    <div class="row">
      <div class="card ml-2 mt-3" style="width: 20rem;" >
        <div class="card-header">
          <legend>Kitten Name: <h5><%=@kitten.name %> </h5></legend>
        </div>

        <div class="card-body">
          <%age=@kitten.age%>
          <p>Age: <i id="cat-data"> <%= pluralize(age,'year') %> old </i></p>
          <p>Cuteness:
            <i id="cat-data"><%= @kitten.cuteness %>/5</i>
            <% if Kitten.above_cuteness_average?(@kitten.cuteness) %>
                <span class="badge badge-primary">Above The Average</span>
            <% else %>
                <span class="badge badge-danger">Below The Average</span>
            <% end %>
          </p>
          <p>
            Softness: <i id="cat-data"><%= @kitten.softness %>/5</i>
            <% if Kitten.above_softness_average?(@kitten.softness) %>
                <span class="badge badge-primary">Above The Average</span>
            <% else %>
                <span class="badge badge-danger">Below The Average</span>
            <% end %>
          </p>
        </div>

        <div class="card-footer">
          <%= link_to "<<back", root_path%>
        </div>
      </div>


    </div>

  </div>
</div>